@import './assets/scss/variables';

img {
  width: 100%;
}
header nav.navbar.navbar-expand-lg.bg-body-tertiary {
  min-height: 92px;
  background-color: $background-color !important;
  box-shadow: 0px 30px 20px -30px #a19f9f;
}
header nav.navbar a.nav-link {
  color: $text-color;
  font-size: 16px;
  letter-spacing: 1px;
}
header .navbar-brand img {
  width: 100%;
  height: 65px;
}
header .header-social ul {
  display: flex;
  list-style: none;
  margin: 0;
}
header .header-social ul li i.fa.fa {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d42559;
}
header .header-social ul li a {
  font-size: 22px;
  text-decoration: none;
  color: #000000;
}
header .header-social ul li i.fa.fa:hover {
  background: #000000;
  color: #ffffff;
}
header div#navbarNav {
  justify-content: left;
}
.carousel-indicators [data-bs-target] {
  height: 10px;
  width: 10px;
  background-color: #000000;
  border-radius: 50%;
}
button {
  padding: 10px 15px;
  background: #d42559;
  color: #ffffff;
  font-size: 16px;
}

.category .btn a {
  padding: 10px 15px;
  background: #d42559;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.category .btn a:hover {
  padding: 10px 15px;
  background: #d42559;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

/*header*/
/*header-banner*/
.carousel-item {
  margin-top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 75px);
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
div#carouselExampleIndicators {
  box-shadow: 0px 30px 20px -30px #a19f9f;
}

.category .row {
  padding: 50px;
  text-align: center;
  align-items: center;
}

.padding {
  padding: 50px 0;
}

.heading {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
  line-height: normal;
}
p {
  color: #000000;
  font-size: 16px;
  padding-top: 8px;
}
.category {
  box-shadow: 0px 30px 20px -30px #a19f9f;
}
.bakery-cakes {
  box-shadow: 0px 30px 20px -30px #a19f9f;
}
.beverages {
  box-shadow: 0px 30px 20px -30px #a19f9f;
}
.beauty-hygiene {
  box-shadow: 0px 30px 20px -30px #a19f9f;
}
.copy {
  text-align: center;
  border-top: 1px solid;
  color: #000000;
}
.copy-right {
  background: #cdcdcd;
}
/*product*/
.item-heading {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: #000000;
  overflow: inherit;
  height: 20px;
  margin-top: 40px;
}
.buy-price .row {
  align-items: center;
}
.product-item .buy-price {
  padding-bottom: 30px;
}

.item-detail {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  margin: 10px 0;
  padding: 5px 5px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  height: 76px;
}
.product-item .heading-menu {
  background-color: #cdcdcd;
  width: 100%;
  height: 100%;
  text-align: left;
}

.product-item .buy-btn a {
  display: block;
  border-radius: 3px;
  text-align: left;
  text-decoration: none;
  border: 1px solid #ffffff;
  background-color: #d42559;
  color: #fff;
  cursor: pointer;
  padding: 8px;
}
.heading-menu a {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  padding: 10px 5px;
}
.price-buy-mobile {
  display: none;
}
.mobile-hide {
  display: flex;
  align-items: center;
}

.item-price {
  text-align: left;
}
.fruit-product .fruit {
  padding: 50px 0 30px;
}
.fruit-product .fruit {
  align-items: start;
}
.fruit-product .col-xl-3.col-lg-3.col-md-0.col-0.bg-color-grey {
  background-color: #d5d5d5;
}

/*Media Query*/

/* Large desktops and laptops */
@media (min-width: 1920px) {
  .container-fluid {
    max-width: 1600px;
  }
  .everythink .text-img-every .img {
    width: 100%;
  }
}
/* Large desktops and laptops */
@media (min-width: 1400px) and (max-width: 1919px) {
  .everythink .text-img-every .img {
    width: 100%;
  }
}
/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1399px) {
  .everythink .text-img-every .img {
    width: 250px;
    height: 250px;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .painting-supplay .painting-img {
    height: auto;
  }
  .buy-price .row {
    margin-right: 1px;
  }
  .mobile-hide {
    display: none !important;
  }
  .price-buy-mobile {
    display: block;
  }
  .table-view {
    float: left;
    display: inline-flex;
  }
  .item-img img {
    width: 130px;
    height: 130px;
  }
  .table-view .item-detail {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    margin: 10px 0;
    padding: 5px 5px;
    box-shadow: none;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    height: 90px;
  }
  .price-buy-mobile {
    background-color: #d42559;
    text-align: center;
    padding: 10px 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .painting-supplay .painting-img {
    height: auto;
  }
  .price-buy-mobile {
    display: block;
  }
  .price-buy-mobile {
    background-color: #d42559;
    text-align: center;
    padding: 10px 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
  }
  .product-item .heading-menu {
    display: none;
  }

  /*cart*/
  .my-cart-item .item-name {
    padding-bottom: 1px;
  }
  .my-cart-item .row .item-text-cart .col-xl-2.col-lg-2.col-md-7.col-6 {
    padding: 0;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .painting-supplay .painting-img {
    height: auto;
  }
  .price-buy-mobile {
    display: block;
  }
  .mobile-hide {
    display: none !important;
  }
}

/*cart-section*/
.add-digit button {
  padding: 4px 11px;
  background: #d42559;
  color: #ffffff;
  font-size: 16px;
  margin: 0 11px;
}
.my-cart-item .row.item-text-cart {
  align-items: center;
}
.my-cart-item .totle-price {
  text-align: right;
}
.my-cart-item .item-name {
  padding-bottom: 20px;
  text-align: center;
}
.my-cart-item .add-digit {
  text-align: center;
}
